<div id="page-content-wrapper">
    <div class="container-fluid">
        <a href="#menu-toggle" class="btn btn-dark btn-sm" id="menu-toggle">Menu</a><br><br>
        <h1>Petting Zoo</h1><br>
        <p>pet that dino!</p><br>
        <p>Select which dinosaur you would like to purchase. Please think of a good name and have monies for purchase.
            Enjoy your new dinosaur!</p>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Dinosaur</th>
            <th scope="col">Full Frontal</th>
            <th scope="col">Cost:</th>
            <th scope="col">Name your Dino:</th>
            <th scope="col">¯\_(ツ)_/¯</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Velociraptor</td>
            <td> <img class="pic" src="/assets/images/raptor.jpg" width="150px" height="150px" alt=" Velociraptor ">
            </td>
            <td>£100</td>
            <td><input class="form-control" id="raptor" type="text" placeholder="Chance the Raptor"></td>
            <td><button data-name="#raptor" type="button" class="btn btn-sm btn-dark" data-image="https://ae01.alicdn.com/kf/HTB1TMdwByCYBuNkSnaVq6AMsVXaF/Velociraptor-Blue-Dinosaur-Toy-Raptor-Model-Classic-Toys-For-Boys-Children-Movable-Mouth.jpg_640x640.jpg">Buy
                    New Dino</button></td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Tyrannosaurus Rex</td>
            <td> <img class="pic" src="/assets/images/trex.jpeg" width="150px" height="150px" alt=" Tyrannosaurus Rex ">
            </td>
            <td>£100</td>
            <td><input class="form-control" id="trex" type="text" placeholder="Rex Ruthor"></td>
            <td><button data-name="#trex" type="button" class="btn btn-sm btn-dark" data-image="http://www.messagetoeagle.com/wp-content/uploads/2017/07/Tyrannosaurusrex11.jpg">Buy
                    New Dino</button></td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Pterodactyl</td>
            <td> <img class="pic" src="/assets/images/goodptero.jpg" width="150px" height="150px" alt=" Pterodactyl ">
            </td>
            <td>£100</td>
            <td><input class="form-control" id="pterodactyl" type="text" placeholder="Pterry Crews"></td>
            <td><button data-name="#pterodactyl" type="button" class="btn btn-sm btn-dark" data-image="http://www.dinocreta.com/wp-content/uploads/2013/11/pterodactyl.jpg">Buy
                    New Dino</button></td>
        </tr>
    </tbody>
</table>
</div>
<!-- Bootstrap core JavaScript -->
<script src='https://code.jquery.com/jquery-3.3.1.min.js' integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8='
    crossorigin='anonymous'></script>

<!-- Menu Toggle Script -->
<script>
    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>

{{!-- create dino call --}}
<script>
    $("button").on("click", function () {
        var find = $(this).data("name");
        var name = $(find).val().trim();
        var img = $(this).data("image")
        $.post("/api/Dinos", { name: name, img: img, UserId: 4 }).then(function () {
            console.log(find, name);
        })
    })
</script>