<div id="page-content-wrapper">
    <div class="container-fluid">
        <a href="#menu-toggle" class="btn btn-dark btn-sm" id="menu-toggle">Menu</a><br><br>
        <h1>petting zoo</h1><br>
        <p>pet that dino!</p><br>
        <p>This template has a responsive menu toggling system. The menu will appear collapsed on smaller
            screens, and will appear non-collapsed on larger screens. When toggled using the button below, the
            menu will appear/disappear. On small screens, the page content will be pushed off canvas.</p>
        <p>Make sure to keep all page content within the <code>#page-content-wrapper</code>.</p>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Dinosaur</th>
            <th scope="col">Full Frontal</th>
            <th scope="col">Cost:</th>
            <th scope="col">¯\_(ツ)_/¯</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Velociraptor</td>
            <td> <img class="pic" src="/assets/images/raptor.jpg" width="150px" height="150px" alt=" Velociraptor ">
            </td>
            <td>£100</td>
            <td><button data-name="raptor" type="button" class="btn btn-sm btn-dark">Select New Dino</button></td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Tyrannosaurus Rex</td>
            <td> <img class="pic" src="/assets/images/trex.jpeg" width="150px" height="150px" alt=" Tyrannosaurus Rex ">
            </td>
            <td>£100</td>
            <td><button data-name="trex" type="button" class="btn btn-sm btn-dark">Select New Dino</button></td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Pterodactyl</td>
            <td> <img class="pic" src="/assets/images/goodptero.jpg" width="150px" height="150px" alt=" Pterodactyl ">
            </td>
            <td>£100</td>
            <td><button data-name="pterodactyl" type="button" class="btn btn-sm btn-dark">Select New Dino</button></td>
        </tr>
    </tbody>
</table>
</div>
</div>
<!-- Bootstrap core JavaScript -->
<script src='https://code.jquery.com/jquery-3.3.1.min.js' integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8='
    crossorigin='anonymous'></script>

<!-- Menu Toggle Script -->
<script>
    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>

{{!-- create dino call --}}
{{!-- add the speed and power and images for all the dinos, and then make corresponding with the $.post route --}}
<script>
    $("button").on("click", function () {
        var name = $(this).data(name)
        $.post("/api/Dinos", { name: name, speed: Dino.speed.defaultValue, power: "5", img: "h" }).then(function () {
            console.log("posted data")
        })

    })

</script>