<div id="page-content-wrapper">
    <div class="container-fluid col-10 mx-auto">
        <a href="#menu-toggle" class="btn btn-outline-dark btn-sm" id="menu-toggle">Menu</a><br><br>
        <h1>race</h1><br>
        <p>if you lose, you die. if you win, you still die.</p><br>
    </div>
</div>
<script>
    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>