<div id="page-content-wrapper">
    <div class="container-fluid">
        <a href="#menu-toggle" class="btn btn-dark btn-sm" id="menu-toggle">Menu</a><br><br>
        <h1>Store</h1><br>
        <p>The void must be filled with objects.</p>
        <p>Buy things to temporarily suppress your existensial dread!</p><br>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Item</th>
                    <th scope="col">statType</th>
                    <th scope="col">statValue</th>
                    <th scope="col">Cost</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {{#each result}}
                <tr>
                    <td> {{name}}</td>
                    <td>{{statType}}</td>
                    <td>{{statValue}}</td>
                    <td>{{cost}}</td>
                    <td><button type="button" class="btn btn-sm btn-dark">Buy!</button></td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
<!-- Bootstrap core JavaScript -->
<script src='https://code.jquery.com/jquery-3.3.1.min.js' integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8='
    crossorigin='anonymous'></script>

<!-- Menu Toggle Script -->
<script>
    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>