<div id="page-content-wrapper">
    <div class="container-fluid col-10 mx-auto">
        <a href="#menu-toggle" class="btn btn-outline-dark btn-sm" id="menu-toggle">Menu</a>
        <h4 id="displayCurrency">Ƀ:
            <trim id="currency">{{user.dinoCoins}}</trim>
        </h4><br><br>
        <h1>trophies</h1><br>
        <p>you don't have any trophies because you never won anything, or at anything, in your life, ever.</p><br>
        <p>love,</p>
        <p>the dev team</p>
    </div>
</div>
<!-- Bootstrap core JavaScript -->
<script src='https://code.jquery.com/jquery-3.3.1.min.js' integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8='
    crossorigin='anonymous'></script>

<!-- Menu Toggle Script -->
<script>
    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>